body {
    font-family: 'Sawarabi Mincho', serif;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #ffffff;
    font-size: 15px;
    line-height: 2;
    background-image: url(../img/ff14\ nav.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: initial;

}

html {
    scroll-behavior: smooth;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding-left: auto;
    border-bottom: 2px solid #a89b6d;
    text-align: left;
    width: 100%;
    height: 7rem;
}

.nav ul {
    margin-left: auto;
    list-style: none;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}

li {
    padding: 0.1rem;
}

.nav li {
    padding: 1.6px 2rem 1.6px 2rem;
}

h1 {
    margin-left: 1em;
}

a {
    color: #ffffff;
    text-decoration: none;
}


section {
    justify-content: center;
    text-align: center;
}


.div1 ul {
    padding: 4rem;
    list-style: none;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.div1 li {
    font-size: 1.3rem;
}

li {
    padding: 0.1rem;
}

h1 {
    margin-left: 1em;
}

h3 {
    padding-top: 4rem;
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 4rem;
}

h3::before,
h3::after {
    background-color: aliceblue;
    border-radius: 5px;
    content: "";
    height: 5px;
    width: 100px;
}

th {
    padding-bottom: 4rem;
    width: 20%;
}

th img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

p {
    padding-bottom: 5rem;
    text-align: center;
    font-size: 2rem;
}

.div2 {
    padding: 4rem;
}

tr {
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
}

footer {
    padding: 15px 0 15px 0;
    text-align: center;
    background-color: #ddd9d8;
}

#fade-in-bottom {
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.h3 {
    animation-name: fadeUpAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

a.listory {
    text-decoration: none;
    background-image: linear-gradient(#81521d, #e9d37b);
    background-size: 0 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: all .3s;
}

a.listory:hover {
    background-size: 100% 1px;
}

a.licharacter {
    text-decoration: none;
    background-image: linear-gradient(#81521d, #e9d37b);
    background-size: 0 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: all .3s;
}

a.licharacter:hover {
    background-size: 100% 1px;
}

a.liplay {
    text-decoration: none;
    background-image: linear-gradient(#81521d, #e9d37b);
    background-size: 0 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: all .3s;
}

a.liplay:hover {
    background-size: 100% 1px;
}

a.lisiteinfo {
    text-decoration: none;
    background-image: linear-gradient(#81521d, #e9d37b);
    background-size: 0 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: all .3s;
}

a.lisiteinfo:hover {
    background-size: 100% 1px;
}

.scroll-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 100;
    background-color: #8a8542;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.scroll-top:hover {
    cursor: pointer;
    opacity: 0.7;
}